* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, hsl(0deg 0% 87%), hsl(0deg 0% 15%));
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(110px, auto) repeat(4, 100px);
    grid-gap: 5px;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

button {
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
}

.clear-button {
    background-color: hsl(342deg 55% 75% / 70%);
}

.operator {
    background-color: hsl(180deg 55% 75% / 70%);
}

.number {
    background-color: hsl(120deg 55% 75% / 70%);
}

button:hover {
    
}

.display {
    grid-column: 1 / -1; /* start at first column grid line and end at the last one (= -1) */
    border-radius: 3px;
    border: 1px solid black;
    background-color: hsl(0deg 0% 10% / 70%);
    color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.top-display {
    font-size: 1.3rem;
    color: hsl(0deg 0% 100% / 80%);
}

.btm-display {
    font-size: 2rem;
}



.span-two {
    grid-column: span 2;
}
