@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, hsl(0deg 0% 87%), hsl(0deg 0% 15%));
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(110px, auto) repeat(4, 100px);
    grid-gap: 5px; 
}

/* -----------------------------BUTTON-STYLES----------------------------------- */

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border: 1px solid hsl(0deg 0% 100%);
    border-radius: 5px;
    transition: ease-in .1s;
}

.clear-button {
    background-color: hsl(342deg 55% 75% / 70%);
}

.operator {
    background-color: hsl(180deg 55% 75% / 70%);
}

.number {
    background-color: hsl(120deg 55% 75% / 70%);
}

.equals {
    background-color: hsl(0deg 0% 100% / 70%);
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px hsl(0deg 0% 100%);
}

.clear-button:active {
    background-color: hsl(342deg 55% 75% / 100%);
}

.operator:active {
    background-color: hsl(180deg 55% 75% / 100%);
}

.number:active {
    background-color: hsl(120deg 55% 75% / 100%);
}

.equals:active {
    background-color: hsl(0deg 0% 100% / 100%);
}

.span-two {
    grid-column: span 2; /* the equals button occupies two grid cells */
}

/* ----------------------------DISPLAY-STYLES-------------------------------- */

.display {
    grid-column: 1 / -1; /* start at first column grid line and end at the last one (= -1) */
    border-radius: 3px;
    background-color: hsl(0deg 0% 10% / 70%);
    color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.top-display {
    font-size: 1.3rem;
    color: hsl(0deg 0% 100% / 80%);
}

.btm-display {
    font-size: 2rem;
}

/* ----------------------------FOOTER-------------------------------- */

footer {
    line-height: 1.5;
    text-align: center;
}

footer a {
    color: hsl(0deg 0% 100%);
}

footer a:hover {
    color: hsl(120deg 55% 75%);
}

footer a:active {
    border: 1px dotted hsl(120deg 55% 75%);
}

/* ----------------------------MEDIA-QUERIES-------------------------------- */

@media (max-width: 570px) {
    .button-grid {
        grid-template-columns: repeat(5, 70px);
        grid-template-rows: minmax(80px, auto) repeat(4, 70px);
    }

    button {
        font-size: 1.3rem;
    }

    .top-display {
        font-size: 1.2rem;
    }
    
    .btm-display {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 415px) {
    .button-grid {
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: minmax(80px, auto) repeat(4, 50px);
    }

    footer {
        font-size: 0.8rem;
    }
}